registry=https://registry.npmjs.org/
@softomate:registry=https://softomate.jfrog.io/softomate/api/npm/npm-local/
//softomate.jfrog.io/softomate/api/npm/npm-local/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJlckhKSmZTUkdXUXIwQXJGRVQ4dHBRWXpNcmxHRVZud1lKZVFtOXZvWldZIn0.eyJzdWIiOiJqZnJ0QDAxY3h2dDk4Mm4ycHIwMGd6NmVuMGcxeDc3XC91c2Vyc1wvamZyb2ctbnBtLXJlYWRlciIsInNjcCI6Im1lbWJlci1vZi1ncm91cHM6KiBhcGk6KiIsImF1ZCI6ImpmcnRAMDFjeHZ0OTgybjJwcjAwZ3o2ZW4wZzF4NzciLCJpc3MiOiJqZnJ0QDAxY3h2dDk4Mm4ycHIwMGd6NmVuMGcxeDc3XC91c2Vyc1wvamZyb2ctbnBtLXJlYWRlciIsImlhdCI6MTU3OTA4MjcwNSwianRpIjoiZmVmN2Q1NzItNzljYS00Mjc5LTkyZWYtYmQ5NjQ0MmZhZDc3In0.Llc63ioHfgBlmbsQ4j3ezOKOXkFndsFYncZIaXzWSjW5IwI2lGH0XdkXBmWWhcAu5jVvznmodRnQqIuBLGXCWAvySozrn1RY5b9HaLpDK4Z_vVvU9i5CcEjABNeHIEQmtpld1TycsC4wj8zg8sgnIsYrcMa1QSpFVjvO22oSH2lNzDU-HGRvCJTVvSHPE7gdSuqqNECoN22FYEOc1rT04-P5ADWIhEbX7ghI3JzJ7KBhKakSykjwRRTZwj4dhr5xQpHLxIonPwvuABz89WJ1tbQHQnUk7G2kGE9LSos8mme7MTMEjdoB8MXPyrMOdORWjFkTeo53COdNF7hB1gjvTA
